@model VidlyLearn.ViewModels.CustomerVM
@{
    ViewBag.Title = Model.Customer.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Customer.Name</h2>
<ul>
    <li>MembershipType: @Model.Customer.MembershipType.Name</li>
    @{
       
        // 1/1/1900 12:00:00 AM
        var x = new DateTime(1900, 1,1,12,0,0);
    }
    @if (Model.Customer.BirthDate != null || Model.Customer.BirthDate == x)
    {
        <li>Birthdate: @Model.Customer.BirthDate</li>
    }
</ul>

